body {
  background: #333;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}
.Head {
  font-size: 2.5rem;
  color: #fff;
}
.MainMenuBox {
  display: block;
  padding: 20px;
  display: flex;
  /* width: 1000px; */
  margin-top: 200px;
  position: relative;
  border: 1px solid #000;
  justify-content: space-between;
}
.PizzaOne {
  width: 250px;
  height: 250px;
  cursor: pointer;
  background-image: url("https://i.ibb.co/gzs3hTn/pizza-base2.png");
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  float: left;
  /* background-position: center center; */
  /* border: 1px solid #000; */
}

.PizzaTwo {
  width: 250px;
  height: 250px;
  cursor: pointer;
  /* border: 1px solid #000; */
  background-image: url("https://i.ibb.co/KjBXVdC/pizza-base1.png");
  background-size: contain;
  display: inline-block;
  float: right;
  /* border-radius: 50%; */
  /* margin-left: 30%; */
}
ul {
  /* width: 27%; */
  /* height: 120vh; */
  display: inline-block;
  display: flex;
  /* position: absolute;
  right: 0%;
  top: 100px; */
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.list {
  display: none;
  transition: 3s all;
}
.position {
  color: #fff;
  position: relative;
  top: 120px;
  left: 10px;
  font-size: 1.3rem;
}
.positionM {
  /* border: 1px solid #000; */
  color: #fff;
  position: relative;
  top: 250px;
  left: 60px;
  font-size: 1.8rem;
}
.Pizza1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("https://media.istockphoto.com/id/901501348/vector/slice-of-melted-cheese-pepperoni-pizza.jpg?s=612x612&w=0&k=20&c=0cIsVfLHiabGD1NGDZEfE1hIBmD5DQuzNuLK8Owvyo8=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* transform: scale(1.5) */
  cursor: grab;
}
.Pizza2 {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  background-image: url("https://media.istockphoto.com/id/519332250/vector/cheesy-comic-pizza-slices.jpg?s=612x612&w=0&k=20&c=S_vE2Tqp-YEPOiFi9M7JQZaTLOIdtrz0mqxE5jAHW_4=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  cursor: grab;
}
.Pizza3 {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  background-image: url("https://www.shutterstock.com/shutterstock/photos/1257375187/display_1500/stock-vector-fresh-pizza-with-tomato-cheese-olive-sausage-onion-basil-traditional-italian-fast-food-top-1257375187.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: grab;
}
.Pizza4 {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  background-image: url("https://www.seekpng.com/png/full/811-8116765_pizza-nice-slice-ingredient-illustration-pepper-pizza-cartoon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  margin-left: 20px;
  cursor: grab;
}
.dropPoint {
  width: 350px;
  height: 350px;
  border: 30px dashed yellow;
  background-color: #222;
  box-shadow: 5px 10px 10px black;
  position: absolute;
  top: 300px;
  right: 37%;
  border-radius: 50%;
  transition: 1s all;
  z-index: 1000;
}
.dropPoint:hover {
  border: 30px solid #000;
  /* border-style: solid; */
  background-color: #fff;
}
.footer {
  /* position: absolute; */
  /* bottom: 0; */
  color: #fff;
  position: absolute;
  bottom: 0%;
  margin: auto;
}
#dropzone {
  position: relative;
  border: 10px dotted #fff;
  border-radius: 20px;
  color: white;
  font: bold 24px/200px arial;
  width: 200px;
  height: 200px;
  margin: 30px auto;
  text-align: center;
}

#dropzone:hover {
  border: 10px solid #fe5;
  color: #fe5;
  cursor: pointer;
  background-color: #222;
}

.hold {
  transition: 2s;
  transform: rotate(360deg);
  border: 10px dashed goldenrod;
}
.pizzabaseOne {
  background-image: url("https://i.ibb.co/gzs3hTn/pizza-base2.png");
  background-size: cover;
  z-index: 100;
}
.pizzabaseTwo {
  background-image: url("https://i.ibb.co/KjBXVdC/pizza-base1.png");
  background-size: cover;
}
.Pizza1Pepperoni {
  background-image: url("https://sipbitego.com/wp-content/uploads/2021/08/Pepperoni-Pizza-Recipe-Sip-Bite-Go.jpg");
  background-size: cover;
}
.Pizza1Mushrooms {
  background-image: url("https://previews.123rf.com/images/macrovector/macrovector1611/macrovector161100365/65372448-colorful-round-tasty-pizza-on-white-background-with-salami-tomato-mushrooms-and-olives-flat-isolated.jpg");
  background-size: cover;
}

.Pizza1Onions {
  background-image: url("https://media.istockphoto.com/id/1097437724/vector/fresh-pizza-with-tomato-cheese-olive-sausage-onion.jpg?s=612x612&w=0&k=20&c=2gehio5J1rBmtOsaa7dhoytUfdszq6uU424aAo5uORA=");
  background-size: cover;
}

.Pizza1Peppers {
  background-image: url("https://i.pinimg.com/564x/19/7f/34/197f34e246a2d45beb57072243e7c622.jpg");
  background-size: cover;
}

/* #dropzone.dropped {
  background: #222;
  border: 10px solid #444;
} */

/* #dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

/* #dropzone img {
  border-radius: 10px;
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
} */

/* #dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */
